.signup-modal .modal-content {
    padding: 0;
}

.signup-modal_form {
}

.signup-modal .input-wrapper {
    margin-bottom: 1.5rem;
}

.signup-modal .input-wrapper:last-child {
    margin-bottom: 2rem;
}

.signup-modal_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.signup-modal_header h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.signup-modal_form-header {
    margin-bottom: 1.5rem;
    font-size: clamp(1.6rem, 5vw, 2rem);
}

.signup-modal_header h3 {
    font-weight: 700;
    margin-left: 1rem;
}

.signup-modal_form {
    padding: 1rem !important;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signup-modal_form .page {
    padding: 1rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-modal_form h2 {
    font-size: 1.75rem;
}

.btn-close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background-color 0.2s linear;
}

.btn-close-modal:hover,
.btn-close-modal:active {
    background-color: var(--item-hover);
}

.btn-close_icon {
    position: block;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.btn-next {
    margin-bottom: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.25px;
    color: var(--black);
    background-color: #fff;
    border-radius: 9999rem;
    width: 100%;
    padding: 1.1rem 1.2rem;
    transition: background-color 0.2s linear; */
}

/* .btn-next:hover {
    background-color: rgb(230, 230, 230);
} */

.dob-container h4 {
    margin: 1rem 0 0.6rem 0;
}

.signup-modal_form p {
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 0.5rem;
}

.signup-modal_form .signup-modal_input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .verification-modal_form {
        width: 100% !important;
    }
}

.signup-modal_header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.signup-modal_header .header-btn .icon-container {
    width: 25px !important;
    height: 25px !important;
}

.signup-modal_header .logo-container:hover,
.signup-modal_header .logo-container:active {
    background: 0 !important;
}

.signup-modal_header .header-btn .icon-container .icon {
    width: 100% !important;
}

.signup-modal_header .header_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-modal_header .header-btn {
    align-self: flex-start;
}
