.media-modal.open {
    background-color: rgba(0, 0, 0, 0.9);
}

.media-modal .modal-content_wrapper {
    /* height: unset !important; */
    /* width: 600px;
    max-width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100% !important;
    max-width: unset;
    border-radius: 0;
}

.media-modal .modal-content {
    padding: 0 !important;
    background-color: unset !important;
    position: relative;
    overflow: hidden;
    max-height: unset;
    width: 100%;
    border-radius: 0;
    /* max-height: 500px; */
}

.media-modal .media-image-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
    position: relative;
}

.media-modal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.media-modal_close {
    position: fixed;
    top: 20px;
    left: 20px;
}

.media-modal_close .icon-container::after {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.75);
}

.media-modal_close:hover .icon-container::after,
.media-modal_close:active .icon-container::after {
    background-color: rgba(26, 26, 26, 0.75);
}

.media-modal_close .icon {
    color: var(--white) !important;
}

@media screen and (max-width: 602px) {
    .media-modal .modal-content_wrapper,
    .media-modal .media-image-wrapper,
    .media-modal .modal-content {
        border-radius: 0 !important;
    }
}
