.tweet {
    display: flex;
    /* padding: 0.75rem 1rem; */
    padding: 0.65rem 1rem;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    width: 100% !important;
    cursor: pointer;
}

.tweet:hover {
    background-color: var(--tweet-hover);
}

.tweet .pfp-container {
    padding: 0.3rem 0.75rem 0 0;
}

.tweet .pfp-container .pfp {
    width: 45px;
    height: 45px;
}

.tweet .tweet-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.tweet .tweet-container .quote-preview {
    margin-top: 0.75rem;
}

.tweet-content .tweet_text {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--white);
    white-space: pre-wrap;
}

.tweet-content .tweet-text {
    font-size: 0.9375rem;
    font-weight: 500;
    /* display: block; */
    word-wrap: break-word;
}

.tweet-text p {
    width: 100%;
}

.tweet-content .media-container {
    margin-top: 0.75rem;
}

.tweet-content .media-container .tweet_media {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 1rem;
}

.tweet .tweet-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem !important;
}

.tweet-actions-container {
    display: flex;
    align-items: center;
}

.tweet-actions-container .bookmark .icon-container {
    margin-right: 1rem;
    stroke-width: unset !important;
}

.tweet-actions-container .bookmark .icon-container .tweet_icon {
    font-size: 0.5rem !important;
    stroke-width: unset !important;
}

.tweet-btn {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--grey);
    /* margin-right: 2rem; */
    transition: all 0.2s ease-out;
}

.tweet-btn .count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.tweet-actions .tweet-btn .float-options {
    bottom: -50px !important;
    left: -10px !important;
    width: 200px;
}

.tweet-btn .count-container span {
    padding: 0 0.75rem;
}

.tweet-btn.comment.applied .tweet_icon,
.tweet-btn.comment.applied span {
    color: var(--primary-colour);
}

.tweet-btn.retweet.applied .tweet_icon,
.tweet-btn.retweet.applied span {
    color: var(--retweet);
}

.tweet-btn.like.applied .tweet_icon,
.tweet-btn.like.applied span {
    color: var(--like);
}

.tweet-btn .icon-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    /* margin-right: 0.5rem; */
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.tweet-btn .icon-container .tweet_icon {
    width: 100%;
    height: 100%;
    stroke-width: 2px !important;
}

.tweet-btn:last-child .icon-container {
    margin: 0;
}

/* .tweet-btn.more .icon-container {
    width: auto;
    height: auto;
} */

.tweet-btn.more {
    margin-left: auto;
    margin-right: 0;
    padding: 0 !important;
}

.tweet > .float-options {
    right: 13px !important;
    top: 13px !important;
    width: 250px;
}

.tweet .float-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tweet .float-btn.delete {
    color: red;
}

.tweet-btn.more .more .tweet-btn .tweet_icon {
    color: var(--grey);
    transition: all 0.2s ease-out;
}

.tweet-btn.retweet:hover .icon-container::after {
    background-color: rgba(0, 186, 124, 0.2);
}

.tweet-btn.retweet:hover .tweet_icon {
    color: var(--retweet);
}

.tweet-btn.retweet:hover {
    color: var(--retweet);
}

.tweet-btn.like:hover .icon-container::after {
    background-color: rgba(249, 24, 128, 0.2);
}

.tweet-btn.like:hover .tweet_icon {
    color: var(--like);
}

.tweet-btn.like:hover {
    color: var(--like);
}

.tweet-btn.comment:hover,
.tweet-btn.share:hover,
.tweet-btn.bookmark:hover,
.tweet-btn.more:hover,
.tweet-btn.view:hover {
    color: var(--primary-colour);
}

.tweet-btn.comment:hover .tweet_icon,
.tweet-btn.share:hover .tweet_icon,
.tweet-btn.bookmark:hover .tweet_icon,
.tweet-btn.more:hover .tweet_icon,
.tweet-btn.view:hover .tweet_icon {
    color: var(--primary-colour);
}

.tweet-btn .icon-container::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 99999rem;
    transition: all 0.2s ease-out;
}

.tweet-btn.comment:hover .icon-container::after,
.tweet-btn.share:hover .icon-container::after,
.tweet-btn.bookmark:hover .icon-container::after,
.tweet-btn.more:hover .icon-container::after,
.tweet-btn.view:hover .icon-container::after {
    background-color: rgba(29, 155, 240, 0.1);
}

.float-icon-container {
    width: 18px !important;
    height: 18px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
}

.float-icon-container .float-icon {
    width: 100%;
    height: 100%;
    stroke-width: 2px;
}

.tweet .replyingTo {
    color: var(--grey);
    margin-bottom: 0.5rem;
}

.tweet .replyingTo,
.tweet .replyingTo a {
    font-size: 0.95rem;
    font-weight: 500;
}
