.tab-list_items {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--border);
}

.tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 53px;
    position: relative;
    font-size: 0.9375rem;
    color: var(--grey);
    font-weight: 500;
    padding: 0 1rem;
    transition: background-color 0.1s linear;
}

.tab-item:hover,
.tab-item:active {
    background-color: var(--item-hover);
}

.tab-item.active {
    color: var(--text-primary);
    font-weight: 700;
}

.tab-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 3px;
    background-color: var(--primary-colour);
    border-radius: 99999rem;
}

.tab-list {
    height: 100%;
}
