#preview-list {
    width: 100%;
    /* min-height: 100vh; */
    flex: 1;
    /* height: 100% !important; */
    overflow: hidden;
}

.first-element,
.last-element {
    height: 1px;
}

/* #preview-list .List {
    height: 100% !important;
    overflow: unset !important;
} */

/* #preview-list .ReactVirtualized__List {
    overflow: visible !important;
    will-change: unset !important;
}

#preview-list .ReactVirtualized__List .ReactVirtualized__Grid__innerScrollContainer {
    overflow: visible !important;
    height: auto !important;
    max-height: unset !important;
    display: flex;
    flex-direction: column;
}

#preview-list
    .ReactVirtualized__List
    .ReactVirtualized__Grid__innerScrollContainer
    .row {
    flex: 1;
    height: 100%;
} */

/* .preview-list_loading {
    min-height: 50vh;
} */
