.reply-modal .modal-content_wrapper {
    max-height: 800px !important;
    overflow: scroll;
    position: absolute !important;
    top: 45px;
}

.reply-modal .modal-content {
    display: block;
    height: auto;
    padding: 0;
    overflow: auto;
    max-height: calc(100vh - 100px);
}

.reply-modal header {
    width: 100%;
    padding: 1rem 1.2rem !important;
    border: 0 !important;
}

.reply-modal .recipient-tweet,
.reply-modal .tweet-input {
    padding: 0 1rem !important;
}

.reply-modal .tweet-actions {
    padding: 0.5rem 1rem;
}

.reply-modal .pfp-container {
    position: relative;
    z-index: 1111111;
    margin-top: 0.3rem;
    margin-right: 0.75rem !important;
    min-width: 40px;
}

.reply-modal .recipient-tweet > .pfp-container::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--border-2);
    height: 100vh;
    z-index: -11;
    background-color: var(--border-2);
}

.recipient-tweet {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.reply-modal .tweet-input {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.reply-modal .tweet-info {
    justify-content: flex-start;
    margin: 0;
}

.reply-modal .replyingTo {
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey);
    padding: 0.5rem 0 1rem 0;
}

.reply-modal .replyingTo a {
    font-size: 1rem;
    font-weight: 500;
}

.reply-modal .tweet-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reply-modal .tweet-input .tweet-input-wrapper {
    margin: 0.5rem 0 1rem 0;
}

.reply-modal .input-container {
    padding-top: 0.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: auto;
    min-height: 150px;
}

.reply-modal .input-container .media-preview {
    height: auto;
}

.reply-modal .input-container .media-preview img {
    height: 100%;
}

.modal-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.reply-modal .quote-preview {
    margin-top: 0.75rem;
}

.reply-modal .user-info .more {
    display: none;
}

.reply-modal .tweet-input .pfp-container::after {
    content: "";
    all: unset !important;
}

.reply-modal .tweet-details .blue_round-btn.more {
    display: none;
}
