.quote-preview {
    border-radius: 1rem;
    border: 1px solid var(--border);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 0.25rem;
}

.quote-preview .details-wrapper {
    padding: 0.75rem 0.75rem 0 0.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 0.3rem !important;
}

.quote-preview .details-wrapper .pfp-container {
    padding: 0;
    width: 20px;
    height: 20px;
    min-width: unset;
    margin-right: 0.5rem !important;
}

.quote-preview .details-wrapper .pfp {
    width: 20px !important;
    height: 20px !important;
}

.quote-preview .tweet-details {
    width: 100%;
    justify-content: flex-start !important;
    margin-bottom: 0 !important;
}

.quote-preview .tweet-content {
    width: 100%;
    font-weight: 500;
    font-size: 0.9375rem;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.tweet-content .content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.75rem;
    padding: 0 0.75rem 0.75rem 0.75rem;
}

.quote-preview .media-container {
    width: 100%;
    height: 300px;
    margin: 0 !important;
    position: relative;
}

.quote-preview .media-container .tweet_media {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.quote-preview .replyingTo {
    /* color: var(--border-2); */
    color: var(--primary-colour);
    font-size: 0.975rem;
    margin-bottom: 0.5rem;
}

.quote-preview .display_name {
    margin-right: 0.3rem;
    color: var(--text-primary);
    font-weight: 700;
    max-width: 100px;
}

.quote-preview .username {
    max-width: 200px;
}

.quote-preview .date {
    color: var(--grey);
}
