.tweet .tweet-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem !important;
}

.tweet-actions-container {
    display: flex;
    align-items: center;
}

.tweet-actions-container .bookmark .icon-container {
    margin-right: 1rem;
    stroke-width: 0 !important;
}

.tweet-actions-container .bookmark .icon-container .icon {
    font-size: 0.5rem !important;
    stroke-width: unset !important;
}

.tweet-actions .tweet-btn .float-options {
    bottom: -50px !important;
    left: -10px !important;
    width: 200px;
}

.action-btn .count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.action-btn .count-container span {
    padding: 0 0.75rem;
}

.reply.applied .icon,
.reply.applied span,
.reply:hover span,
.view.applied .icon,
.view.applied span,
.view:hover span {
    color: var(--primary-colour) !important;
}

.retweet.applied .icon,
.retweet.applied span,
.retweet:hover span {
    color: var(--retweet) !important;
}

.like.applied .icon,
.like.applied span,
.like:hover span {
    color: var(--like) !important;
}

.action-btn .count-container {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--grey);
}
