.tweet .tweet-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem !important;
}

.tweet-actions-container {
    display: flex;
    align-items: center;
}

.tweet-actions-container .bookmark .icon-container {
    margin-right: 1rem;
    stroke-width: 0 !important;
}

.tweet-actions-container .bookmark .icon-container .icon {
    font-size: 0.5rem !important;
    stroke-width: unset !important;
}

.action-btn {
    position: relative;
}

.retweet-options {
    width: unset !important;
}

.tweet-actions .action-btn .retweet-option .float-btn p {
    flex: 1;
}

.action-btn .count-container {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}

.action-btn .count-container span {
    padding-left: 0.3rem;
    transition: all 0.2s;
}

.reply.applied .icon,
.reply.applied span,
.reply:hover span,
.reply:active span,
.view.applied .icon,
.view.applied span,
.view:hover span,
.view:active span {
    color: var(--primary-colour) !important;
}

.retweet.applied .icon,
.retweet.applied span,
.retweet:hover span,
.retweet:active span {
    color: var(--retweet) !important;
}

.like.applied .icon,
.like.applied span,
.like:hover span,
.like:active span {
    color: var(--like) !important;
}

.bookmark.applied .icon {
    color: var(--primary-colour);
}

.share-float {
    width: auto;
}
