.tweet-modal .modal-content_wrapper {
    top: 75px;
}

.tweet-modal .modal-content {
    padding: 0 !important;
    max-height: calc(100vh - 100px);
}

.tweet-modal .modal-content .quote-preview {
    margin-bottom: 1rem;
}

.tweet-modal header {
    width: 100%;
    align-items: flex-start;
    padding: 1rem 1.2rem;
    border: 0 !important;
}

.tweet-modal header .header-btn_icon {
    width: 23px !important;
    height: 23px;
    stroke-width: 0px;
}

.wrap {
    display: flex;
}

.tweet-modal .tweet-input {
    width: 100%;
    padding: 0 1rem 0.5rem 1rem;
}

.tweet-modal .tweet-input_container {
    display: flex;
}

.tweet-modal .tweet-input_container textarea::placeholder {
    color: var(--input-placeholder);
    letter-spacing: 0.3px;
}

.tweet-modal .pfp-container {
    align-items: flex-start;
    margin-top: 0.3rem;
    margin-right: 0.75rem !important;
    min-width: 40px;
}

/* .tweet-modal .pfp-container .pfp {
    width: 40px;
    height: 40px;
} */

.tweet-modal .tweet-input-wrapper .tweet-text {
    display: block;
}

.tweet-modal .tweet-input-wrapper {
    width: 100%;
    margin: 1rem 0 !important;
}

.tweet-modal .input-wrap {
    width: 100%;
    min-height: 150px;
}

.tweet-modal .audience,
.tweet-modal .reply {
    display: flex;
    width: auto;
}

.tweet-modal .tweet-actions {
    border-top: 1px solid var(--border);
    padding: 0.75rem 0 0.2rem 0;
}

.tweet-modal .reply_label {
    display: flex;
}
