@font-face {
    font-family: "Chirp";
    font-weight: 500;
    src: url("../assets/fonts/Chirp-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Chirp";
    font-weight: 600;
    src: url("../assets/fonts/Chirp-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Chirp";
    font-weight: 700;
    src: url("../assets/fonts/Chirp-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Chirp";
    font-weight: 800;
    src: url("../assets/fonts/Chirp-Heavy.woff2") format("woff2");
}

:root {
    --primary-hover: rgb(26, 140, 216);

    --widget-background: #16181c;
    --input-placeholder: #71767b;

    --input-border: rgb(51, 54, 57);
    --input-disabled: rgb(32, 35, 39);
    --label-disabled: rgb(113, 118, 123);

    --empty-btn-border: rgb(83, 100, 113);
    --empty-hover: rgba(239, 243, 244, 0.1);
    --chat-hover: rgb(22, 24, 28);

    --white: rgb(231, 233, 234);
    --black: #3c4043;

    --retweet: rgb(0, 186, 124);
    --like: rgb(249, 24, 128);

    --spinner-border-colour: rgba(29, 155, 240, 0.1);

    --grey: rgb(113, 118, 123);
}

[data-accent="blue"] {
    --primary-colour: rgb(29, 155, 240);
    --accent-hover: rgb(29, 155, 240, 0.1);
}

[data-accent="pink"] {
    --primary-colour: rgb(249, 24, 128);
    --accent-hover: rgb(249, 26, 130, 0.1);
}

[data-accent="purple"] {
    --primary-colour: rgb(120, 86, 255);
    --accent-hover: rgb(120, 87, 255, 0.1);
}

[data-accent="orange"] {
    --primary-colour: rgb(255, 122, 0);
    --accent-hover: rgb(255, 122, 0, 0.1);
}

[data-accent="green"] {
    --primary-colour: rgb(0, 186, 124);
    --accent-hover: rgb(0, 184, 122, 0.1);
}

[data-accent="yellow"] {
    --primary-colour: rgb(255, 212, 0);
    --accent-hover: rgb(255, 213, 0, 0.1);
}

[data-theme="light"] {
    --background: rgb(255, 255, 255);
    --search-background: rgb(239, 243, 244);
    --sidebar-background: rgb(247, 249, 249);

    --text-primary: rgb(15, 20, 25);
    --border: rgba(239, 243, 244, 1);
    --tweet-hover: rgba(0, 0, 0, 0.03);
    --item-hover: rgba(15, 20, 25, 0.1);

    --border-2: rgb(185, 202, 211);
}

[data-theme="dark"] {
    --background: rgb(0, 0, 0);
    --search-background: rgb(32, 35, 39);
    --sidebar-background: rgb(22, 24, 28);

    --text-primary: rgb(231, 233, 234);
    --border: rgb(47, 51, 54);
    --tweet-hover: rgba(255, 255, 255, 0.03);
    --item-hover: rgba(231, 233, 234, 0.1);
    /* --item-hover-2: */

    --border-2: rgb(62, 65, 68);
}

[data-theme="dim"] {
    --background: rgb(22, 33, 44);
    --search-background: rgb(39, 51, 64);
    --sidebar-background: rgb(30, 39, 50);

    --text-primary: rgb(247, 249, 249);
    --border: rgb(56, 68, 77);
    --tweet-hover: rgba(255, 255, 255, 0.03);
    --item-hover: rgba(247, 249, 249, 0.1);

    --border-2: rgb(92, 110, 126);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    position: relative;
    font-family: "Chirp", monospace;
    background-color: var(--background);
}

#app {
    position: relative;
    background-color: var(--background);
}

#app-container {
    color: var(--text-primary);
    background-color: var(--background);
    /* overflow-y: scroll; */
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-primary);
}

a[disabled] {
    pointer-events: none;
}

button {
    background: none;
    outline: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    font: inherit;
}

button:disabled {
    cursor: not-allowed;
}

input,
textarea {
    background: none;
    outline: none;
    border: none;
    font-family: inherit;
    color: var(--text-primary) !important;
}

/* Change the white to any colour */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-primary) !important;
}

input::-webkit-input-placeholder {
    color: var(--grey);
}

input:-ms-input-placeholder {
    color: var(--grey);
}

input::placeholder {
    color: var(--grey);
}

select {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--white);
    font-family: inherit;
}

/* Common */

.link-blue {
    color: var(--primary-colour) !important;
}

.link-grey {
    color: var(--grey);
}

.link-blue,
.link-grey {
    font-size: 0.8rem;
}

.link-blue:hover,
.link-grey:hover {
    text-decoration: underline;
}

.pfp-container {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: auto;
}

.pfp-container .icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pfp-container .pfp {
    width: 100%;
    border-radius: 50%;
}

.username {
    font-size: 0.9375rem !important;
    font-weight: 500;
    color: var(--grey);
}

.displayName {
    font-size: 1.25rem;
    color: var(--text-primary);
}

/* FIRST COLUMN: Sidebar */

#navbar {
    display: flex;
    flex-direction: column;
    width: 275px;
}

#navbar .sticky-wrapper {
    min-height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.logo-container {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s linear;
}

.logo-container img {
    width: 28px;
    height: auto;
}

.logo-container:hover {
    background-color: rgba(239, 243, 244, 0.1);
}

.navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.navbar_icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 26px;
    height: 26px;
    stroke-width: 0;
    color: var(--text-primary);
}

.navbar .more-options .float-btn .wrapper {
    width: 20px;
    margin-right: 1rem;
}

.navbar .more-options .float-btn svg {
    margin: 0 !important;
}

.navbar .navbar-link {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem;
    margin-bottom: 0.85rem;
    border-radius: 2rem;
    width: calc(auto + 3rem) !important;
    transition: background-color 0.1s linear;
}

.navbar-link.active {
    font-weight: 700 !important;
}

.navbar-link.active .navbar_icon {
    stroke-width: 0.3;
}

.navbar-link:hover {
    background-color: var(--item-hover);
}

.navbar-link .text {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-primary);
}

.navbar-btn {
    font-size: 1.1rem;
    width: 240px;
    padding: 1rem;
    transition: background-color 0.1s linear;
}

.navbar-btn_icon {
    display: none;
}

.navbar-account {
    position: relative;
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-top: auto !important;
    margin-bottom: 0.9rem;
    padding: 0.7rem 0.7rem;
    border-radius: 999rem;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.navbar-account:hover {
    background-color: var(--item-hover);
}

.navbar-account .account-settings {
    bottom: auto;
    left: 10px;
    width: 250px !important;
}

.navbar-account .pfp-container {
    width: 40px;
    height: 40px;
}

.navbar-account img {
    border-radius: 50%;
}

.navbar-account_names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0.8rem;
}

.navbar-account_names .display_name {
    font-size: 0.9375rem;
    margin-bottom: 0.1rem;
    color: var(--text-primary);
}

.navbar-account_icon {
    margin-left: auto;
    color: var(--text-primary);
}

.navbar-account .float-options {
    bottom: 0 !important;
    left: 0;
}

.navbar-account .account-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--border);
}

.account-details .wrapper {
    display: flex;
    align-items: center;
}

.account-details .account-checkmark {
    color: var(--primary-colour);
}

#navbar .float-btn {
    display: flex;
    align-items: center;
}

.navbar-link .more-options {
    bottom: 0;
    left: 0;
}

/* SECOND COLUMN: General */

#general header {
    position: sticky;
    top: 0;
    z-index: 99999999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    /* padding: 0.2rem 1rem 0.2rem 1rem; */
    padding: 1rem;
    background-color: var(--background);

    /* border-bottom: 1px solid var(--border); */
    backdrop-filter: blur(12px);
}

#general header h1 {
    font-size: 1.25rem !important;
}

#general header .tab-list {
    border-bottom: 0 !important;
}

#general .tweet-form {
    border-bottom: 1px solid var(--border);
}

#general header a.dark_round-btn .icon-container::after,
#general header button.dark_round-btn .icon-container::after {
    width: 35px !important;
    height: 35px !important;
}

.header-btn {
    margin-right: 1.5rem;
}

.header-btn_icon {
    width: 20px !important;
    height: 20px;
    stroke-width: 0px;
}

#general {
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    /* width: 600px !important; */
    width: 100% !important;
    max-width: 600px;
}

img.banner,
img.pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tab-route-header {
    border-bottom: 0 !important;
}

/* THIRD COLUMN: Widgets */

#widgets {
    width: 350px;
    margin-top: 0.5rem !important;
}

#widgets .sticky-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 0.3rem;
}

#widgets .searchbar {
    margin: 0.5rem 0 1rem 0;
}

/* Buttons */

.btn-empty {
    color: var(--text-primary);
    border: 1px solid var(--empty-btn-border);
    border-radius: 9999rem;
    width: 100%;
    padding: 0.4rem 1rem;
    transition: background-color 0.1s linear;
}

.btn-empty:hover {
    background-color: var(--item-hover);
}

.white-btn {
    font-weight: 500;
    letter-spacing: 0.25px;
    color: var(--background) !important;
    background-color: var(--text-primary);
    border-radius: 99rem;
    width: 100%;
    padding: 0.6rem 1rem;
    transition: background-color 0.2s linear;
}

/* .white-btn:hover {
    background-color: var(--tweet-hover);
} */

.blue-btn {
    font-weight: 700;
    border-radius: 999rem;
    background-color: var(--primary-colour);
    padding: 1rem;
    transition: background-color 0.1s linear;
}

.blue-btn:hover {
    /* background-color: var(--primary-hover); */
}

.blue-btn:disabled {
    opacity: 0.5;
}

.red_round-btn,
.green_round-btn,
.light_round-btn,
.blue_round-btn,
.dark_round-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: auto;
    margin-right: 0; */
    padding: 0 !important;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.red_round-btn .icon-container,
.green_round-btn .icon-container,
.light_round-btn .icon-container,
.blue_round-btn .icon-container,
.dark_round-btn .icon-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.red_round-btn .icon-container::after,
.green_round-btn .icon-container::after,
.light_round-btn .icon-container::after,
.blue_round-btn .icon-container::after,
.dark_round-btn .icon-container::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 99999rem;
    transition: all 0.2s ease-out;
}

.red_round-btn .icon,
.green_round-btn .icon,
.light_round-btn .icon,
.blue_round-btn .icon,
.dark_round-btn .icon {
    width: 100%;
    height: 100%;
    z-index: 1111;
    transition: all 0.2s ease-out;
}

.red_round-btn .icon {
    color: var(--grey);
}

.red_round-btn:hover .icon-container::after {
    background-color: rgba(249, 24, 128, 0.2);
}

.red_round-btn:hover .icon {
    color: var(--like);
}

.green_round-btn .icon {
    color: var(--grey);
}

.green_round-btn:hover .icon-container::after {
    background-color: rgba(0, 186, 124, 0.2);
}

.green_round-btn:hover .icon {
    color: var(--retweet);
}

.dark_round-btn .icon {
    color: var(--text-primary);
}

.dark_round-btn:hover .icon-container::after {
    background-color: var(--item-hover);
}

.blue_round-btn .icon {
    color: var(--grey);
}

.blue_round-btn:hover .icon-container::after {
    background-color: var(--accent-hover);
}

.blue_round-btn:hover .icon {
    color: var(--primary-colour);
}

.light_round-btn .icon {
    color: var(--white) !important;
}

.light_round-btn .icon-container {
    background-color: rgba(15, 20, 25, 0.75);
    backdrop-filter: blur(4px);
}

.light_round-btn:hover .icon-container::after {
    background-color: rgba(39, 44, 48, 0.75) !important;
}

.more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    padding: 0 !important;
    color: var(--white);
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.more-btn .icon-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.more-btn .icon-container::after {
    content: "";
    position: absolute;
    border-radius: 99999rem;
    transition: all 0.2s ease-out;
}

.more-btn:hover .icon-container::after {
    background-color: rgba(239, 243, 244, 0.1);
}

.more-btn .icon {
    width: 100%;
    height: 100%;
    color: var(--white) !important;
    transition: all 0.2s ease-out;
}

/* Base Modal */

.modal {
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: none;
}

.modal.open {
    display: flex;
    background-color: rgba(91, 112, 131, 0.4);
}

.modal-content_wrapper {
    width: 90%;
    max-width: 600px;
    height: 650px;
    border-radius: 1rem;
    overflow: hidden !important;
}

.modal-content {
    /* width: 600px; */
    /* height: 650px; */
    max-height: 100%; /* Ensures it doesn't grow beyond the wrapper */
    padding: 1rem;
    background-color: var(--background);
    border-radius: 1rem;
    overflow-y: auto !important;
}

/* Inputs */

.input-wrapper {
    position: relative;
}

.input-wrapper .input {
    font-size: 0.9rem;
    color: var(--text-primary);
    position: relative;
    height: 60px;
    padding: 1.3rem 0.6rem 0rem 0.6rem;
    border: 1px solid var(--input-border);
    border-radius: 0.2rem;
    caret-color: var(--text-primary);
    transition: all 0.1s ease-in-out;
}

.input-wrapper textarea.input {
    padding-top: 2rem;
}

.input-wrapper .input.error {
    border: 1px solid red !important;
}

.input-wrapper .input.error ~ label {
    color: red !important;
}

.input-wrapper .input::placeholder {
    color: var(--grey);
    position: absolute;
    top: 50px;
}

.input-wrapper label {
    position: absolute;
    left: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey);
    pointer-events: none;
    transform: translateY(20px);
    transition: all 0.1s ease-in-out;
}

.input-wrapper .input:focus {
    border: 1px solid var(--primary-colour);
}

.input-wrapper .input:focus ~ label {
    color: var(--primary-colour);
    transform: translateY(10px);
    font-size: 0.85rem;
}

.input-wrapper .input ~ .character-count {
    display: none;
}

.input-wrapper .character-count {
    position: absolute;
    right: 10px;
    top: 10px;
    width: auto;
}

.input-wrapper .input:focus ~ .character-count {
    display: block;
    color: var(--grey);
    font-size: 0.85rem;
    font-weight: 500;
}

.input-wrapper .input.highlight {
    border: 1px solid var(--primary-colour);
}

.input-wrapper .input.filled ~ label {
    transform: translateY(10px);
    font-size: 0.85rem;
}

.input-wrapper .input.highlight ~ label {
    color: var(--primary-colour);
}

.input-wrapper .input:disabled {
    background-color: var(--search-background);
    color: var(--grey) !important;

    border: none !important;
    user-select: none;
}

.input-wrapper .input:disabled ~ label {
    color: var(--grey) !important;
    user-select: none;
}

.btn-show-password {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 11111;
    transform: translateY(-20%);
    margin-right: 0.8rem;
}

.btn-show-password .btn-icon {
    color: var(--text-primary);
}

.modal-content .error-message {
    font-size: 0.8rem;
    font-weight: 500;
    color: red;
    margin-top: 0.5rem;
}

/* Links Widget */

.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 100%;
}

.links-container a {
    font-weight: 400;
    padding-right: 0.55rem;
    margin: 0.1rem 0;
}

/* Placeholder styles */

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.placeholder-text__title {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0.3rem;
    width: 90%;
}

.placeholder-text__subtitle {
    color: var(--grey);
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    width: 80%;
}

/* Utils */

#app-container {
    width: 75%;
    width: 100%;
    max-width: 1270px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#app-container main {
    display: flex;
    gap: 2rem !important;
    width: 100% !important;
}

@media screen and (max-width: 1287px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto !important;
    }
    .navbar {
        align-items: center;
        justify-content: center;
    }
    .navbar_icon {
        margin: 0;
    }
    .navbar-link .text {
        display: none;
    }
    .navbar-btn {
        width: 50px;
        height: 50px;
    }
    .navbar-btn .text {
        display: none;
    }
    .navbar-btn_icon {
        display: flex;
    }
    .navbar-account_names,
    .navbar-account_icon {
        display: none;
    }
    .navbar-account {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        padding: 0 !important;
    }

    #navbar .sticky-wrapper {
        padding: 0.2rem;
        align-items: center;
    }
}

@media screen and (max-width: 1040px) {
    #navbar {
        align-items: flex-end;
    }
    #widgets {
        display: none;
    }
    #app-container main {
        width: auto;
    }
}

@media screen and (max-width: 678px) {
    #app-container {
        grid-template-columns: 70px calc(100% - 70px);
    }
}

.tweet-text {
    color: var(--text-primary);
}

.tweet-text .highlighted-text {
    color: var(--primary-colour) !important;
}

.loading-route {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.logo.dark {
    filter: brightness(0) saturate(100%) invert(100%) sepia(38%) saturate(2%)
        hue-rotate(129deg) brightness(111%) contrast(100%);
}

.logo.light {
    filter: brightness(0) saturate(100%) invert(59%) sepia(50%) saturate(5397%)
        hue-rotate(179deg) brightness(99%) contrast(90%);
}
