#preview-list {
    width: 100%;
    min-height: 100vh;
}

.first-element,
.last-element {
    height: 1px;
}

#preview-list .ReactVirtualized__List {
    overflow: visible !important;
    will-change: unset !important;
}

#preview-list .ReactVirtualized__List .ReactVirtualized__Grid__innerScrollContainer {
    overflow: visible !important;
}
