.tweet {
    display: flex;
    padding: 0.75rem 1rem 0.2rem 1rem;
    /* border-top: 1px solid var(--border); */
    border-bottom: 1px solid var(--border);
    width: 100% !important;
    cursor: pointer;
}

.tweet:hover {
    background-color: var(--tweet-hover);
}

.tweet .pfp-container {
    padding: 0.3rem 0.75rem 0 0;
}

.tweet .pfp-container .pfp {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.tweet .tweet-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.tweet-container .tweet-info {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 0.95rem;
    margin-bottom: 0.2rem;
}

.tweet-container .tweet-info .display_name {
    margin-right: 0.3rem;
}

.tweet-container .tweet-info .display_name:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.tweet-container .tweet-info .username,
.tweet-container .tweet-info .date {
    font-weight: 500;
    color: var(--grey);
}

.tweet-container .tweet-info .icon-container {
    margin: 0;
}

.separator {
    margin: 0 0.3rem;
    color: var(--grey);
}

.tweet-content .tweet_text {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--white);
    white-space: pre-wrap;
}

.tweet-content .tweet-text {
    font-size: 0.9375rem;
    font-weight: 500;
    /* display: block; */
    word-wrap: break-word;
}

.tweet-text p {
    width: 100%;
}

.tweet-content .media-container {
    margin-top: 0.75rem;
}

.tweet-content .media-container .tweet_media {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 1rem;
}

.tweet-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}

.tweet-btn {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--grey);
    position: relative;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 2rem; */
    transition: all 0.2s ease-out;
}

.tweet-btn.comment.applied .tweet_icon,
.tweet-btn.comment.applied p {
    color: var(--primary-colour);
}

.tweet-btn.retweet.applied .tweet_icon,
.tweet-btn.retweet.applied p {
    color: var(--retweet);
}

.tweet-btn.like.applied .tweet_icon,
.tweet-btn.like.applied p {
    color: var(--like);
}

.tweet-btn .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}

.tweet-btn.more .icon-container {
    width: auto;
    height: auto;
}

.tweet-btn.more {
    margin-left: auto;
    margin-right: 0;
    padding: 0 !important;
}

.tweet-btn .tweet_icon {
    color: var(--grey);
    transition: all 0.2s ease-out;
}

.tweet-btn.retweet:hover .icon-container {
    background-color: rgba(0, 186, 124, 0.2);
}

.tweet-btn.retweet:hover .tweet_icon {
    color: var(--retweet);
}

.tweet-btn.retweet:hover {
    color: var(--retweet);
}

.tweet-btn.like:hover .icon-container {
    background-color: rgba(249, 24, 128, 0.2);
}

.tweet-btn.like:hover .tweet_icon {
    color: var(--like);
}

.tweet-btn.like:hover {
    color: var(--like);
}

.tweet-btn.comment:hover,
.tweet-btn.share:hover,
.tweet-btn.more:hover,
.tweet-btn.view:hover {
    color: var(--primary-colour);
}

.tweet-btn.comment:hover .tweet_icon,
.tweet-btn.share:hover .tweet_icon,
.tweet-btn.more:hover .tweet_icon,
.tweet-btn.view:hover .tweet_icon {
    color: var(--primary-colour);
}

.tweet-btn.comment:hover .icon-container,
.tweet-btn.share:hover .icon-container,
.tweet-btn.more:hover .icon-container,
.tweet-btn.view:hover .icon-container {
    background-color: rgba(29, 155, 240, 0.2);
}
